@font-face {
	font-family: "Ubuntu-Bold";
	src: url(@/assets/fonts/Ubuntu-Bold.ttf);
}
@font-face {
	font-family: "Ubuntu-Medium";
	src: url(@/assets/fonts/Ubuntu-Medium.ttf);
}
@font-face {
	font-family: "Ubuntu-Regular";
	src: url(@/assets/fonts/Ubuntu-Regular.ttf);
}
:root {
	--MarineBlue: hsl(213, 96%, 18%);
	--PurplishBlue: hsl(243, 100%, 62%);
	--PastelBlue: hsl(228, 100%, 84%);
	--LightBlue: hsl(206, 94%, 87%);
	--StrawberryRed: hsl(354, 84%, 57%);

	--CoolGray: hsl(231, 11%, 63%);
	--LightGray: hsl(229, 24%, 87%);
	--Magnolia: hsl(217, 100%, 97%);
	--Alabaster: hsl(231, 100%, 99%);
	--White: hsl(0, 0%, 100%);

	/* - Family: [Ubuntu](https://fonts.google.com/specimen/Ubuntu) */
	--fs-paragraph: 1rem;
	--fw-sm: 400;
	--fw-md: 500;
	--fw-bold: 700;

	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

#app {
	max-width: 1440px;
	margin: 0 auto;
	font-family: "Ubuntu-Regular";
	min-height: 100vh;
	background-color: var(--LightBlue);
}
main {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 200px auto;
}
.attribution {
	font-size: 11px;
	text-align: center;
	padding: 1.5em 0;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
/*! ------------------------------------------------------------------- */
/*! tabContainer */
/*! ------------------------------------------------------------------- */
.tabContainer {
	grid-row: 1;
	grid-column: 1/-1;
	background-image: url(@/assets/images/bg-sidebar-mobile.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding-top: 2em;
	/* flex-wrap: wrap; */
}
button {
	border: 0;
	background-color: transparent;
	padding: 1em;
	color: var(--White);
	cursor: pointer;
	font-family: inherit;
	transition: all .3s ease;
}
.step {
	color: var(--White);
	font-family: inherit;

	display: flex;
	align-items: center;
	gap: 0.8em;
	padding: 1em;
}
.step__number--default {
	padding: 1em;
	width: 2em;
	height: 2em;
	border-radius: 50%;
	border: 1px solid var(--PastelBlue);
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: var(--fw-bold);
}
.step__description {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-transform: uppercase;
	font-size: 0.8rem;
}
.step__title {
	color: var(--CoolGray);
	font-weight: var(--fw-sm);
	margin-bottom: 0.4em;
}
.step__description p ~ p {
	font-weight: var(--fw-bold);
	letter-spacing: 2px;
}

.activeStep {
	color: var(--MarineBlue);
	background-color: var(--PastelBlue);
}
/* ========================================================= */

/*! ------------------------------------------------------------------- */
/*! form */
/*! ------------------------------------------------------------------- */
form {
	position: relative;
	min-height: calc(100vh - 200px);
}
.form__contents {
	border-radius: 8px;
	min-height: 300px;
}

.form__step {
	padding: 2em 1.5em;
	margin-inline: 1em;
	margin-bottom: 2em;
	background-color: var(--White);
	border-radius: 8px;
	position: relative;
	top: -5em;
}
.form__group {
	margin-top: 1.5em;
}
h1 {
	color: var(--MarineBlue);
	font-family: "Ubuntu-Bold";
	font-size: 2rem;
	margin: 0.3em 0;
}

.form__description {
	color: var(--CoolGray);
	margin-bottom: 1em;
}
::placeholder {
	color: var(--CoolGray);
	font-family: "Ubuntu-Medium";
}
label {
	color: var(--PurplishBlue);
	font-size: 0.9rem;
	font-weight: var(--fw-md);
}
.form__control {
	position: relative;
}
.form__control + .form__control {
	margin-top: 1em;
}
label {
	display: inline-block;
	margin-bottom: 0.3em;
	color: var(--PurplishBlue);
	font-family: "Ubuntu-Medium";
}
.form__field {
	display: block;
	width: 100%;
	padding: 0.8em;
	border-radius: 6px;
	border: 1px solid var(--LightGray);
	font-size: 1rem;
}
.form__field:focus {
	border: 1px solid var(--PurplishBlue);
	outline: 0;
}
.error {
	font-size: 0.8rem;
	color: var(--StrawberryRed);
	font-family: "Ubuntu-Bold";
}
.error--personal__info {
	position: absolute;
	top: 0;
	right: 0;
}
.form__field--error {
	border: 1px solid var(--StrawberryRed);
}
/*! STEP 2 -> PLANS */
.form__group__plans {
	margin: 2em 0 3em;
	position: relative;
}
.form__group--checkbox {
	width: 100%;

	position: relative;
	transition: all 0.3s linear;
}
.form__group--checkbox + .form__group--checkbox {
	margin-top: 1em;
}
.plan--label {
	display: flex;
	align-items: center;
	gap: 1em;
	padding: 1em;
	border: 1px solid transparent;
	border-radius: 8px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	transition: all 0.5s linear;
}
.plan--label:hover {
	border: 1px solid var(--MarineBlue);
}
.plan--checkbox {
	position: absolute;
	opacity: 0;
}
.plan--checkbox:checked + .plan--label {
	border: 1px solid var(--MarineBlue);
	background-color: var(--Magnolia);
}
.plan--label img {
	width: 2.3em;
}

.plan {
	color: var(--MarineBlue);
	font-weight: var(--fw-bold);
	text-transform: capitalize;
}
.plan__price {
	font-size: 0.85rem;
	margin: 0.4em 0;
	font-weight: var(--fw-md);
}
.plan__discount {
	color: var(--MarineBlue);
	font-size: 0.85rem;
}
.error--plan {
	position: absolute;
	bottom: -2em;
	left: 50%;
	transform: translateX(-50%);
	color: var(--StrawberryRed);
}
.error--addons {
	position: absolute;
	bottom: -1em;
	left: 50%;
	transform: translateX(-50%);
	color: var(--StrawberryRed);
}

/* =================================================================== */

.rate__toggler {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
	background-color: var(--Alabaster);
	padding: 1em;
	border-radius: 4px;
}
.rate__toggler p {
	align-self: center;
	margin-bottom: 0.5em;
}
.toggle__rate__switch {
	width: 2.5em;
	height: 1.3em;
	border-radius: 1em;
	background-color: var(--MarineBlue);
	position: relative;
	padding: 0.12em;

	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.toggle__rate__label {
	display: block;
	cursor: pointer;

	width: 1em;
	height: 1em;
	background-color: white;
	border-radius: 50%;
	transition: 0.5s linear;
	position: absolute;
	top: 0.25em;
	transform: translateX(0) rotate(0deg);
	margin: 0;
}
.toggle__rate__checkbox:checked ~ .toggle__rate__label {
	transform: translateX(1.5em) rotate(360deg);
}
.toggle__rate__checkbox {
	opacity: 0;
	position: absolute;
	z-index: 1;
	top: 0em;
}
/* =================================================================== */

/* ! */
/*! STEP 3 */
/* ! PICK ADD-ONS */
.form__group__addons {
	margin-top: 1em;
	position: relative;
}
.addons__label {
	display: flex;
	align-items: center;
	gap: 1em;
	padding: 1em 1em 1em 3em;
	border: 1px solid transparent;
	border-radius: 8px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	transition: all 0.5s linear;
}
.addons__checkbox {
	position: absolute;
	top: 50%;
	left: 1.1em;
	transform: translateY(-50%);
}
.addons__checkbox:checked ~ .addons__label {
	border: 1px solid var(--MarineBlue);
	background-color: var(--Magnolia);
}
.addons__label:hover {
	border: 1px solid var(--MarineBlue);
}
.label__title {
	font-size: 1rem;
	margin-bottom: 0.1em;
}
.add_ons__price {
	margin-left: auto;
}
.form__navigation {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin-top: 10px;
	min-height: 5em;
	background-color: var(--White);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
}
.form__navigation > section {
	margin-left: auto;
}

.btn--goBack {
	color: var(--CoolGray);
}
.btn--goBack:hover {
	color: var(--MarineBlue);
	font-weight: var(--fw-bold);
}
.btn--next,
.btn--confirm {
	padding: 1em 2em;
	border-radius: 4px;
}
.btn--next {
	background-color: var(--MarineBlue);
}
.btn--next:hover {
	background-color: var(--PurplishBlue);
}
.btn--confirm {
	background-color: var(--PurplishBlue);
	/* transition: all .3s ease; */
}
.btn--confirm:hover {
	opacity: .8;
}

/* ! */
/*! STEP 4 */
/* ! FINISHING UP */
.summary__list {
	background-color: var(--Alabaster);
	color: var(--CoolGray);
	padding: 1em;
	border-radius: 6px;
	margin: 1em 0;
	font-family: "Ubuntu-Medium";
}
.summary__item > section p {
	display: flex;
	gap: 0.2em;
}

.summary__item__plan__title {
	color: var(--MarineBlue);
	font-weight: 700;
}

.summary__item,
.summary__total {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5em 0;
}
.summary__item__plan {
	border-bottom: 1px solid var(--LightGray);
	padding-bottom: 1.5em;
}
.summary__item__addons {
	padding-top: 1.5em;
}
.summary__item__addons + .summary__item__addons {
	padding-top: 0.5em;
}
.summary__item__plan__price {
	font-weight: var(--fw-bold);
	color: var(--MarineBlue);
}
.summary__item__addons__price {
	color: var(--MarineBlue);
}
.summary__item section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.summary__total {
	padding-inline: 1em;
	color: var(--CoolGray);
}
.total__rate {
	color: var(--PurplishBlue);
	font-weight: var(--fw-bold);
	font-size: 1.2rem;
}
.editFormBtn {
	display: inline-block;
	margin-top: 0.5em;
	padding: 0;
	text-decoration: underline;
	color: var(--PurplishBlue);
	color: inherit;
	font-family: inherit;
}
.editFormBtn:hover {
	color: var(--PurplishBlue);
}

@media (min-width: 530px) {
	.form__step {
		max-width: 500px;
		width: 100%;
		margin-inline: auto;
	}
}
@media (min-width: 810px) {
	#app {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 1em;
	}
	main {
		display: grid;
		grid-template-columns: 3fr 7fr;
		grid-template-rows: auto;
		max-width: 800px;
		width: 100%;
		margin-inline: auto;
		padding: 1em;
		background-color: var(--White);
		border-radius: 8px;
		gap: 3em;
	}
	.tabContainer {
		grid-row: 1/-1;
		grid-column: 1;
		background-image: url(@/assets/images/bg-sidebar-desktop.svg);
		flex-direction: column;
		border-radius: 8px;
		min-height: 80vh;
		justify-content: flex-start;
		padding: 2em 1em;
		width: 15em;
	}
	.form__step {
		top: 0em;
		margin-bottom: 0;
	}

	.form__group__plans {
		display: flex;
		align-items: center;
		gap: 1em;
	}
	.form__group--checkbox {
		width: 120px;
		height: 160px;
	}
	.plan--label {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		height: 100%;
		padding: 0.8em;
	}
	.form__group--checkbox + .form__group--checkbox {
		margin-top: 0em;
	}
}